<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/guardar" method="POST">
        Primer nombre:<br>
        <input type="text" name="firstname" value="Mickey"><br> Apellidos:
        <br>
        <input type="text" name="lastname" value="Mouse"><br><br>
        <input type="submit" value="Submit">
        <h1>Me mandaste esta informacion! {{ titulo }}</h1>
    </form>
</body>

</html>